body{
	background-image: url("../images/starwars wallpaper.JPG");
	width: 100%;
	/*background-color: #EEEEEE;*/
}

.navbar{
	margin-bottom: 0px;
	background-color: rgba(248,248,248,0);
	border-color: rgba(231,231,231,0);
}

footer,
footer p a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
	color: #E0E0E0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover{
	color: #9e9e9e;
}

.jumbotron{
	color: white;
	width: 100%;
	min-height: 578px;
	margin-bottom: 0px;
	background-color: rgba(238,238,238,0);
}

.jumbotron .btn{
	margin-bottom:6px;
}

footer{
	display: block;
	text-align: center;
	background-color: none;
	width: 100%;
	min-height: 60px;
}

footer p{
	transform: translate(0, 100%);
}