<div class="container">
	<div class="jumbotron">
		<div class="container">
		  	<h1>Hello, Sale Stock!</h1>
		  	<p>This is the Assessment Test for Front End Developer.</p>
		  	<p>The test is about showing Infinite List and Detail View from Star Wars API.</p>
		  	<br/><br/>
		  	<h2>Checkout this cool things from Star Wars API!</h2>
		  	<p>
		  		<a class="btn btn-primary btn-lg" href="/salestock-assessment/people" role="button">People</a>
		  		<a class="btn btn-primary btn-lg" href="/salestock-assessment/films" role="button">Films</a>
		  		<a class="btn btn-primary btn-lg" href="/salestock-assessment/starships" role="button">Starships</a>
		  		<a class="btn btn-primary btn-lg" href="/salestock-assessment/vehicles" role="button">Vehicles</a>
		  		<a class="btn btn-primary btn-lg" href="/salestock-assessment/species" role="button">Species</a>
		  		<a class="btn btn-primary btn-lg" href="/salestock-assessment/planets" role="button">Planets</a>
		  	</p>
	  	</div>
	</div>
</div>